body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
         
}

footer a {
    color: red;    
}

article p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5;
}

article ul {
    text-align: justify;
    line-height: 1.35;
}

aside ul {
    text-align: justify;
    line-height: 1.5;
}

.about-header{
    padding-bottom: 17px;

}

.tweets-header{
    padding-bottom: 30px;
}


header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    max-width: 100%;
    height: auto;
}

.profile_pic {
    text-align: center;    
}

.figure-caption{
    text-align: center;
    padding-top: 0.5rem;
}

.right{
    padding-top: auto;
    padding-bottom: auto;
    margin: 0 10px 15px;
    float: right;
}

.twitter-share-button{
    vertical-align: middle;
}

.fb-share-button{
    vertical-align: middle;
}

#logo{
    padding-bottom: 40px;
}

@media (max-width: 800px) {
        
    .right {
        float: none;
    }
  }

.navigation-about{
    height: 26px;  
}

header {
	padding: 20px 0;
	height: auto;
	padding-bottom: 15px;
}

img {
	max-width: 100%;
}

img.small1 {
	max-width: 45%;
    max-height:35%;
    float: right;
}
